@using ShopAppMVC.Models
@model List<User>

<h3>User List</h3>

<table>


<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Last Name</th>
      
      
    </tr>
  </thead>
  <tbody>
      @foreach (var user in @Model)
        {
        <tr>
          <th scope="row"></th>
          <td>@user.FirstName</td>
          <td>@user.LastName</td>
          
          <td>@Html.ActionLink("Remove", "Delete", "User", new { Id = @user.Id})</td>
          
        </tr>
        }
    
    
  </tbody>
</table>